@page "/magazzino/details/{CodiceMagazzino}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using MagazziniMaterialiCLient.Models.Entity
@using Microsoft.AspNetCore.Authorization

<h3>Dettagli Magazzino</h3>

@if (magazzino == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <div>
        <h4>Magazzino</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10">@magazzino.Id</dd>
            <dt class="col-sm-2">Codice Magazzino</dt>
            <dd class="col-sm-10">@magazzino.CodiceMagazzino</dd>
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@magazzino.NomeMagazzino</dd>
            <dt class="col-sm-2">Descrizione</dt>
            <dd class="col-sm-10">@magazzino.DescrizioneMagazzino</dd>
            <dt class="col-sm-2">Note</dt>
            <dd class="col-sm-10">@magazzino.Note</dd>
        </dl>
    </div>
    <div>
        <a href="/magazzino/edit/@magazzino.CodiceMagazzino" class="btn btn-primary">Modifica</a>
        <a href="/magazzini" class="btn btn-secondary">Torna alla Lista</a>
    </div>
}

@code {
    [Parameter]
    public int CodiceMagazzino { get; set; }

    private Magazzino magazzino;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            magazzino = await Http.GetFromJsonAsync<Magazzino>($"api/Magazzino/{CodiceMagazzino}");
        }
        catch (Exception ex)
        {
            // Log error or handle it accordingly
            Console.WriteLine($"Errore durante il caricamento del magazzino: {ex.Message}");
        }
    }
}
